Libraries/OfisHal.Services/Connected Services/HksBildirimSvc/BildirimService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://www.gtb.gov.tr//WebServices" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="https://gtb.gov.tr/hks/WebServices" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="https://gtb.gov.tr/hks/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.gtb.gov.tr//WebServices" location="http://hks.hal.gov.tr/WebServices/BildirimService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IBildirimService" type="i0:IBildirimService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BildirimServisBildirimTurleri">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisBildirimTurleri" style="document" />
      <wsdl:input name="BaseRequestMessageOf_BildirimTurleriIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_BildirimTurleriCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisSifatListesi">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisSifatListesi" style="document" />
      <wsdl:input name="BaseRequestMessageOf_SifatIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_SifatCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisBildirimKaydet">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisBildirimKaydet" style="document" />
      <wsdl:input name="BaseRequestMessageOf_ListOf_BildirimKayitIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_ListOf_BildirimKayitCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisReferansKunyeler">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisReferansKunyeler" style="document" />
      <wsdl:input name="BaseRequestMessageOf_ReferansKunyeIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_ReferansKunyeCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisKayitliKisiSorgu">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisKayitliKisiSorgu" style="document" />
      <wsdl:input name="BaseRequestMessageOf_KayitliKisiSorguIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_KayitliKisiSorguCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisTopluKunye">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisTopluKunye" style="document" />
      <wsdl:input name="BaseRequestMessageOf_TopluKunyeIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_TopluKunyeCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisBildirimEtiket">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisBildirimEtiket" style="document" />
      <wsdl:input name="BaseRequestMessageOf_BildirimEtiketIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_BildirimEtiketCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisBelgeTipleriListesi">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisBelgeTipleriListesi" style="document" />
      <wsdl:input name="BaseRequestMessageOf_BelgeTipleriIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_BelgeTipleriCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisBildirimcininYaptigiBildirimListesi">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisBildirimcininYaptigiBildirimListesi" style="document" />
      <wsdl:input name="BaseRequestMessageOf_BildirimSorguIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_BildirimSorguCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BildirimServisBildirimciyeYapilanBildirimListesi">
      <soap:operation soapAction="http://www.gtb.gov.tr//WebServices/IBildirimService/BildirimServisBildirimciyeYapilanBildirimListesi" style="document" />
      <wsdl:input name="BaseRequestMessageOf_BildirimSorguIstek">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BaseResponseMessageOf_BildirimSorguCevap">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>